<%- include("./partials/header.ejs", {title}) -%>
    <div class = "googleMap" style="display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ">
      <h1>Timelapse of CO2 emissions in Mexico</h1>
      <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345091644!2d144.95373531550447!3d-37.816218979751634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf577d9b9b5d233b1!2sFederation%20Square!5e0!3m2!1sen!2sau!4v1604372692789!5m2!1sen!2sau" 
          width="600" 
          height="450" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy">
      </iframe>
    </div>  
    <% if(locals.info) {%>
      <div id="output">
        <h1>Table data with the amount of vehicles circulating in Mexico from 1980 to 2023</h1>
        <table>
          <% info.forEach((row, index)=>{ %>
            <% if(index === 0) {%> 
              <thead>
                <tr>
                  <% row.forEach((column)=>{ %>
                    <th><%= column %></th>
                  <%})  %>
                </tr>
              </thead>
            <%}else  {%>
              <tr>
                <% row.forEach((column)=>{ %>
                  <td><%= column %></td>
                <%})  %>
              </tr>
            <%}  %>
          <%   }) %>
        </table>
      </div>
    <%}  %>

<%- include("./partials/footer.ejs") -%>